.Title{
	font-size: 100;
	background-color: white;
	color: #546A7B;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0.25em;
	text-align: center;
	
}

.Section{
	font-size: 2em;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 2em;
	
	color: white;
	margin: 0em 0em;
	text-align: left;
}

.Sidebar-Item {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: white;
	margin: 3em 1em;
	padding: 1em;
	border-radius: 10px;
	text-align: left;
}

.Sidebar-Item:hover{
	background-color: #c65c73a1;
	color: white;
	cursor: pointer;
}

svg {
	margin: 1em;
}

svg:hover{
	fill: white;
	cursor: pointer;
}

a {
	color: #c65c73;
}

main {
	
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	z-index: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#sidebar {
	height: 100%;
	overflow:auto;
	float:left;
	transition: width .35s;
	/* background:#546a7b; */
	background: white;
	width: 20%;
	z-index: 1;
	position: fixed;
}
  
#sidebar.collapsed {
	width: 0;
}

@media only screen and (max-width: 1800px) {
	#sidebar {
	  width: 30%;
	}
}

@media only screen and (max-width: 600px) {
	#sidebar {
	  width: 70%;
	}
	svg{
		margin: 0.5em;
	}
	.Title{
		font-size: 60;
	}
}

button {
	
	background: #c65c73a1;
	margin: 2em;
	border-color: transparent;
	border-radius: 10px;
}

button:hover{
	cursor: pointer;
}

#footer {
	text-align: center;
	padding: 1em;
}

small{
	color: black;
}